<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center ">
      <small>Copyright &copy; <%=link_to "Carlos K. Villanueva", "https://github.com/CarlosKVillanueva", class: "text-white text-decoration-none"%> </small>
    </div>