footer#sticky-footer.flex-shrink-0.py-4.bg-dark.text-white-50
  .container.text-center
    small
      | Copyright © #{link_to "Carlos K. Villanueva", "https://github.com/CarlosKVillanueva", class: "text-white text-decoration-none"}
